/* --- Resets --- */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: inherit;
}
img {
    max-width: 10rem
}
a{
    text-decoration: none
}

/* --- Imports --- */
@import url(blank);

/* --- Pre-load --- */
.caps{
    text-transform: uppercase;
    font-weight: bold;
}
.icon {
    max-width: 1rem;
    max-height: 1rem;
}
/* --- Colors --- */
:root{
    --gray: #dfdfdf;
    --red: #ff0000;
}

/* ###--- Navbar ---### */

header .navbar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: var(--gray) 0.5px solid;
    width: 100%;
    align-items: center;
    font-size: 1rem;
}
.header-logo{
    height: 8rem;
    max-width: 200rem;
    padding-bottom: 1rem;
    padding-top: 2rem;
}
header .navbar div{
    display: flex;
}
header nav{
    padding: 0.5rem 0;
}
header nav ul{
    display: flex;
    list-style: none;
    justify-content: center;
}
header nav ul li{
    padding: 0 1.25rem;
    font-weight: bold;
}
header nav ul li:last-child{
    color: var(--red);
}

header {
    border-bottom: var(--gray) 2px solid;
}