/* --- Resets --- */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: inherit;
}
img {
    max-width: 10rem
}
a{
    text-decoration: none
}

/* --- Imports --- */
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
.font1{font-family: "Bebas Neue", sans-serif;}

@import url('https://fonts.googleapis.com/css2?family=Bitter:ital,wght@0,100..900;1,100..900&display=swap');
.font2{font-family: "Bitter", serif;}

@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:ital,wght@0,100..900;1,100..900&display=swap');
.font3{font-family: "Libre Franklin", sans-serif;}

/* --- Pre-load --- */
.caps{
    text-transform: uppercase;
    font-weight: bold;
}
.icon {
    max-width: 1.3rem;
    max-height: 1.3rem;
}
/* --- Colors --- */
:root{
    --gray: #dfdfdf;
    --red: #e40000;
}

/* ###--- Navbar ---### */

header .navbar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: var(--gray) 0.5px solid;
    width: 100%;
    align-items: center;
    font-size: 1rem;
}
.icon-burger{
    width: 1rem;
    height: 1rem;
    margin-right: 0.5rem;
    cursor: pointer;
}
.icon-search{
    cursor: pointer;
}
.icon-user{
    cursor: pointer;
}
.header-logo{
    height: 9rem;
    max-width: 200rem;
    padding-bottom: 1rem;
    padding-top: 2rem;
}
header .navbar div{
    display: flex;
}
header nav{
    padding: 0.5rem 0;
}
header nav ul{
    display: flex;
    list-style: none;
    justify-content: center;
}
header nav ul li{
    padding: 0 1.25rem;
    font-weight: bold;
}
header nav ul li:last-child{
    color: var(--red);
}
header nav ul li:hover{
    transform: scale(1.1,1.1);
    transition-duration: 50ms;
}
header {
    border-bottom: var(--gray) 2px solid;
}